<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Add your CSS styles or link to external stylesheets here -->
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ current_username }}!</h2>
        <p>You have successfully logged in.</p>

        <!-- Display user details -->
        
        <p>Username: {{ current_username }}</p>
        <p>Address: {{ user_profile.address }}</p>
        <p>Age: {{ user_profile.age }}</p>
        <p>Bloodgroup: {{ user_profile.bloodgroup}}</p>
        <p>Gender: {{ user_profile.gender }}</p>

        <a href="{% url 'logout' %}">Logout</a>
    </div>
</body>
</html>
